/*
 * General Styles
 */

body {
    text-align: center;
    font-family: 'Coda', cursive;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    display: inline-block;
    width: 345px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.score-panel p {
    display: inline-block;
    margin: 0 40px;
    min-width: 55px;
}

/*
 * Styles for the Modal screen
 */

.modal-screen {
    display: none;
    position: fixed;
    z-index: 99;
    /*padding-top: 50px;*/
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(200, 200, 200, 0.7);
}

.modal-message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    min-height: 250px;
    width: 80%;
    font-size: 20px;
}

.start-message { display: block; }

.modal-text { text-align: center; }

.modal-btn {
    /*background-color: red;*/
    border: none;
    color: linear-gradient(to right, lightblue, white);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}